#!/bin/sh

# default binary installation is not in PATH
ATTIC=/usr/local/bin/attic
REPOSITORY={{ attic_repository }}
export ATTIC_PASSPHRASE={{ attic_passphrase }}

$ATTIC create --stats                           \
    $REPOSITORY::owncloud-`date +%Y-%m-%d_%H`   \
    /var/www/owncloud/config/                   \
    /var/www/owncloud/data/                     \

$ATTIC prune -v $REPOSITORY --keep-hourly=24 --keep-daily=7 --keep-weekly=4 --keep-monthly=6
