#!/bin/bash

/opt/letsencrypt/letsencrypt-auto certonly \
    --agree-tos \
    --renew-by-default \
    --webroot -w /var/www/html \
    -d {{ domain }} > /tmp/letsencrypt-renew.log 2>&1 \
&& service apache2 reload
