#! /bin/sh

### BEGIN INIT INFO
# Provides:          s3ql
# Required-Start:
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start daemon at boot time
# Description:       Enable service provided by daemon.
### END INIT INFO


STORAGE_URL="{{ s3ql_thebluebox_storage_url }}"
MOUNTPOINT="{{ s3ql_thebluebox_mountpoint }}"

if [ "$1" = start ]; then
 mount | grep '{{ s3ql_thebluebox_storage_url }} on {{ s3ql_thebluebox_mountpoint }} type fuse.s3ql'
	if [ "$?" -ne 0 ]; then
	 fsck.s3ql --batch --quiet "$STORAGE_URL"
	 mount.s3ql --quiet "$STORAGE_URL" "$MOUNTPOINT"
	fi
elif [ "$1" = stop ]; then
 	umount.s3ql "$MOUNTPOINT"
fi
